alembic==0.8.0
amqp==1.4.9
aniso8601==1.2.1
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
factory-boy==2.5.2
Flask==0.10.1
Flask-Migrate==1.5.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.37
Mako==1.0.6
MarkupSafe==1.0
psycopg2==2.7.1
py==1.4.33
pytest==2.8.5
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
six==1.9.0
SQLAlchemy==1.0.8
SQLAlchemy-Utils==0.30.16
Werkzeug==0.10.4
